<section class="container my-5">
  <div class="card shadow-sm border-0">
    <div class="card-header form-header">
      <h2 class="mb-0 fs-4">
       <i class="bi bi-cup-hot ms-3"></i>طلب إجازة
      </h2>
    </div>
    <div class="card-body p-4">
      <form [formGroup]="leaveRequestForm" (ngSubmit)="onSubmit()">
        <div class="row g-4 align-items-end">
          <div class="col-12 col-md-6">
            <label for="leaveDate" class="form-label fw-semibold"
              >تاريخ الإجازة</label
            >
            <input
              type="date"
              id="leaveDate"
              class="form-control form-control-md"
              formControlName="date"
              required
              [min]="today"
              [class.is-invalid]="
                leaveRequestForm.get('date')?.invalid &&
                leaveRequestForm.get('date')?.touched
              "
            />
            
          </div>
          <div class="col-12 col-md-6 text-end">
            <button
              type="submit"
              class="add-btn btn-md"
              [disabled]="leaveRequestForm.invalid || isLoading"
            >
              @if (isLoading) {
              <span
                class="spinner-border spinner-border-sm me-2"
                role="status"
                aria-hidden="true"
              ></span>
              جاري الإرسال... } @else {
              <i class="bi bi-send me-2"></i>
              إرسال طلب الإجازة }
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
