<section class="container my-4">
  <div>
    <form [formGroup]="filterForm">
      <p>تصفية حسب:</p>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-2 mb-sm-2 mb-0">
          <label for="service" class="form-label">الخدمة</label>
          <select
            name="service"
            id="service"
            class="form-select"
            formControlName="serviceId"
          >
            <option disabled selected>اختر الخدمة</option>
            @for (service of services; track $index) {
            <option [value]="service.id">{{ service.title }}</option>
            }
          </select>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2 mb-md-2 mb-0">
          <label for="client" class="form-label">العميل</label>
          <select
            name="client"
            id="client"
            class="form-select"
            formControlName="clientId"
          >
            <option disabled selected>اختر العميل</option>
            @for (client of clients; track $index) {
            <option [value]="client.id">{{ client.name }}</option>
            }
          </select>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2 mb-sm-2 mb-0">
          <label for="employee" class="form-label">الموظف</label>
          <select
            name="employee"
            id="employee"
            class="form-select"
            formControlName="employeeId"
          >
            <option value="" disabled selected>اختر الموظف</option>
            @for (emp of employees; track $index) {
            <option [value]="emp.id">
              {{ emp.firstName + " " + emp.lastName }}
            </option>
            }
          </select>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2 mb-md-2 mb-0">
          <label for="priority" class="form-label">الاولوية</label>
          <select
            name="priority"
            id="priority"
            class="form-select"
            formControlName="priority"
          >
            <option value="" disabled selected>اختر الاولوية</option>
            <option value="عادي">عادي</option>
            <option value="مهم">مهم</option>
            <option value="مستعجل">مستعجل</option>
          </select>
        </div>
        <div class="col">
          <br />
          <button class="add-btn w-100 mt-1" (click)="applyFilters()">
            تصفية
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="container mb-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for (task of filteredTasks; track $index) {
    <div class="col">
      <div
        class="card h-100"
        (click)="goToTask(task.id)"
        style="cursor: pointer"
      >
        <div class="card-body">
          <div
            class="priority-badge"
            [ngClass]="getPriorityClass(task.priority)"
          >
            {{ task.priority }}
          </div>
          <h5 class="card-title text-center">{{ task.title }}</h5>
          <p class="card-text text-center">{{ task.description }}</p>
          <p class="card-text">العميل: {{ task.clientName }}</p>
          <p class="card-text">الخدمة: {{ task.serviceName }}</p>
          <p class="card-text">الموظف: {{ task.employeeName }}</p>
          <div>
            الحالة:
            <div
              class="status-badge me-3"
              [ngClass]="getStatusClass(task.status)"
            >
              {{ getStatusLabel(task.status) }}
            </div>
          </div>
        </div>
        <div class="card-footer">
          <small>وقت التسليم: {{ task.deadline | date }}</small>
        </div>
      </div>
    </div>
    } 
  </div>
  @if (filteredTasks.length === 0) {
    <div class="text-center mt-4 h-50">
      <div class="empty-state">
        <h3>لا توجد مهام تطابق الفلاتر المحددة</h3>
        <p>جرب تغيير معايير البحث أو مسح الفلاتر</p>
      </div>
    </div>
    }
</section>
