<!-- <section class="container py-3">
  <h4>search</h4>
  <input 
  type="search" 
  [formControl]="searchControl"
  class="form-control" 
  placeholder="Search by title..." >
  @if (results$ | async) {
    @for (task of results$ | async; track $index) {
      <div class="task-item">
        <span class="task-id">#{{ task.id }}</span>
        <span class="task-title">{{ task.title }}</span>
      </div>
    }
  }
</section> -->
@if (isAdmin || isAccManager) {
  <app-admin-internal-tasks></app-admin-internal-tasks>
} @else {
  <app-employee-internal-tasks [currentUserId]="currentUserId"></app-employee-internal-tasks>
}