<section class="container my-4">
  <div class="mb-4">
    <h2 class="mb-0">
      <i class="bi bi-megaphone me-2"></i>
      إضافة مقال جديد
    </h2>

    <!-- Alert Messages -->
    @if (alertMessage) {
    <div class="alert" [class]="'alert-' + alertType">
      {{ alertMessage }}
      <!-- <button class="alert-close" (click)="closeAlert()">×</button> -->
    </div>
    }

    <div class="card shadow-sm">
      <div class="card-header form-header">
        <h5 class="mb-0">
          <i class="bi bi-megaphone me-2"></i>
          معلومات المقال
        </h5>
      </div>
      <div class="card-body">
        <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="title" class="form-label">العنوان</label>
              <input
                type="text"
                id="title"
                class="form-control"
                formControlName="title"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="author" class="form-label">الكاتب</label>
              <input
                type="text"
                id="author"
                class="form-control"
                formControlName="author"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="content" class="form-label">المحتوى</label>
            <editor [init]="editorConfig" [apiKey]="tinyMCEKey"></editor> 
          </div>

          <div class="mb-3">
            <label for="category" class="form-label">التصنيف</label>
            <select
              name="category"
              id="category"
              formControlName="categoryId"
              class="form-select"
            >
              @for (item of categories; track $index) {
              <option [value]="item.id">{{ item.title }}</option>
              }
            </select>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="featuredImage" class="form-label">الصورة</label>
              <input
                type="file"
                accept="image/*"
                id="featuredImage"
                class="form-control"
                formControlName="featuredImage"
                (change)="onFileChange($event)"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="" class="form-label">النص البديل للصورة</label>
              <input
                type="text"
                class="form-control"
                formControlName="imageAltText"
              />
            </div>
          </div>

          <div class="mb-3">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="switchCheckDefault"
                formControlName="isFeatured"
              />
              <label class="form-check-label" for="switchCheckDefault"
                >مقالة مثبتة</label
              >
            </div>
          </div>

          <button class="add-btn">
            @if (isLoading) {
            <span class="spinner-border spinner-border-sm me-2"></span>
            جاري إضافة المقال... } @else {
            <i class="bi bi-check-circle me-2"></i>
            اضافة مقال }
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
