.form-header {
    background-color: var(--orange-color);
    color: var(--mov-color);
}


.tab-btn {
    font-weight: 500;
    color: var(--terquoise-color)
}

.tab-btn.active{
    background-color: var(--terquoise-color);
    color: white;
}

img {
    background-size: cover;
    width: 100%;
    border-radius: 15px;
}