@if (loadingUser) {
<section class="container">
  <app-my-account-shimmer></app-my-account-shimmer>
</section>
} @if (currentUser) {
<section class="container my-4">
  <div class="profile-header">
    <!-- Cover Image -->
    <div class="cover-image"></div>

    <!-- Profile Picture and Info -->
    <div class="profile-info">
      <div class="profile-picture-container">
        <img
          [src]="
            currentUser.profilePicture || './assets/The Minaret Agency.png'
          "
          alt="Profile Picture"
          class="profile-picture"
        />
      </div>

      <div class="profile-details">
        <h4 class="profile-name">
          {{ currentUser.firstName + " " + currentUser.lastName }}
        </h4>
        <p class="profile-subtitle">تقدر تعدل بياناتك من هنا</p>
        <p class="profile-links">
          ومتنساش تشوف تاسكاتك من هنا <a routerLink="/tasks">التاسكات</a>
        </p>
      </div>

      <div class="profile-actions">
        <button class="logout-btn" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
          تسجيل الخروج
        </button>
      </div>
    </div>
  </div>
</section>

<ul class="nav nav-tabs">
  <li>
    <a
      [routerLink]="['attendance', currentUser.id]"
      routerLinkActive="active"
      class="nav-link"
      >الحضور</a
    >
  </li>
  <li>
    <a
      [routerLink]="['leave-requests', currentUser.id]"
      routerLinkActive="active"
      class="nav-link"
      >الاجازات</a
    >
  </li>
  <li>
    <a
      [routerLink]="['my-kpis', currentUser.id]"
      routerLinkActive="active"
      class="nav-link"
      >KPIs</a
    >
  </li>
  <li>
    <a
      [routerLink]="['profile', currentUser.id]"
      routerLinkActive="active"
      class="nav-link"
      >تعديل الحساب</a
    >
  </li>
  <!-- <li>
    <a
      [routerLink]="['jd', currentUser.id]"
      routerLinkActive="active"
      class="nav-link"
      >المسئوليات الوظيفية</a
    >
  </li> -->
</ul>

<router-outlet></router-outlet>
}
