<section class="container my-4">
  <!-- Alert Messages -->
  @if (alertMessage) {
  <div class="alert" [class]="'alert-' + alertType">
    {{ alertMessage }}
  </div>
  }
  <div class="card">
    <div class="card-header">
        <h5 class="mb-0">
            <i class="bi bi-card-checklist"></i>
            إضافة وصف وظيفي جديد</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="jdForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="role" class="form-label">اختر الدور</label>
      <select
        name="role"
        id="role"
        class="form-select"
        formControlName="roleId"
        [class.is-invalid]="
          jdForm.get('roleId')?.invalid && jdForm.get('roleId')?.touched
        "
      >
        <option value="">اختر الدور</option>
        @for (role of roles; track $index) {
        <option [value]="role.id">{{ role.name | mapUserRole }}</option>
        }
      </select>
      @if (jdForm.get('roleId')?.invalid && jdForm.get('roleId')?.touched) {
      <div class="invalid-feedback">يجب اختيار الدور</div>
      }
    </div>

    <div class="mb-3">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <label class="form-label">المسؤوليات الوظيفية</label>
      </div>

      <div formArrayName="jobResponsibilities">
        @for (responsibility of jobResponsibilities.controls; track $index) {
        <div class="input-group mb-2" [formGroupName]="$index">
          <input
            type="text"
            class="form-control"
            placeholder="أدخل المسؤولية الوظيفية"
            formControlName="text"
            [class.is-invalid]="
              responsibility.get('text')?.invalid &&
              responsibility.get('text')?.touched
            "
          />
          <button
            type="button"
            class="btn btn-danger"
            (click)="removeResponsibility($index)"
            [disabled]="jobResponsibilities.length === 1"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
          @if (responsibility.get('text')?.invalid &&
          responsibility.get('text')?.touched) {
          <div class="invalid-feedback">يجب إدخال المسؤولية الوظيفية</div>
          }
        </div>
        }
      </div>
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="addResponsibility()"
      >
        <i class="bi bi-plus-circle"></i> اضافة
      </button>
    </div>

    <button type="submit" class="add-btn">
      @if (isLoading) {
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      جاري الحفظ... } @else { حفظ الوصف الوظيفي }
    </button>
  </form>
    </div>
  </div>
  
</section>
