<section class="container my-4">
  <h1 class="text-center">جميع خدماتنا</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for (service of services; track $index) {
    <div class="col" (click)="goToService(service.id)" style="cursor: pointer">
      <div class="card h-100">
        <i class="bi bi-gear text-center mt-3"></i>
        <div class="card-body">
          <h5 class="card-title text-center">{{ service.title }}</h5>
          <p class="card-text text-center">{{ service.description }}</p>
        </div>
      </div>
    </div>
    }
  </div>
</section>
