<app-add-incedient></app-add-incedient>

<section class="container my-4">
  <form class="p-3" (ngSubmit)="onFilter()">
    <div class="row align-items-end g-3">
      <div class="col-12 col-md-6 col-lg-4">
        <label for="monthYear" class="form-label fw-bold"
          >تصفية حسب الشهر</label
        >
        <input
          type="month"
          id="monthYear"
          name="monthYear"
          [(ngModel)]="selectedMonthYear"
          class="form-control"
        />
      </div>
      <div class="col-12 col-md-3 col-lg-2">
        <button type="submit" class="add-btn">تصفية</button>
      </div>
    </div>
  </form>
</section>

<section class="container my-4">
  @if (loading) {
  <div class="text-center my-4">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">جاري التحميل...</span>
    </div>
  </div>
  }
    <table class="content-table">
      <thead>
        <tr>
          <th>الموظف</th>
          <th>الالتزام</th>
          <th>الانتاجية</th>
          <th>تكرار العمل</th>
          <th>الجودة والتعاون</th>
          <th>رضا العميل</th>
          <th>الاجمالي</th>
        </tr>
      </thead>
      <tbody>
        @for (item of summaries; track $index) {
          <tr>
            <td>{{ item.employeeName }}</td>
            <td>{{ item.commitment }}%</td>
            <td>{{ item.productivity }}%</td>
            <td>{{ item.qualityOfWork }}%</td>
            <td>{{ item.cooperation }}%</td>
            <td>{{ item.customerSatisfaction }}%</td>
            <td>{{ item.total }}%</td>
          </tr>
        }
      </tbody>
    </table>
</section>
