@if (isLoadingTasks) {
<section class="container">
  <app-shimmer></app-shimmer>
</section>
}
<section class="container my-4">
  <h1 class="text-center mb-3">جميع التاسكات المؤرشفة</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @if (filteredTasks) { @for (task of filteredTasks; track $index) {
    <div class="col">
      <div
        class="card h-100"
        (click)="goToTask(task.id)"
        style="cursor: pointer"
      >
        <div class="card-body">
          <div
            class="priority-badge"
            [ngClass]="getPriorityClass(task.priority)"
          >
            {{ task.priority }}
          </div>
          <h5 class="card-title text-center mt-2">{{ task.title }}</h5>
          <p class="card-text text-center">{{ task.description }}</p>
          <p class="card-text">
            رقم التاسك: <strong>{{ task.id }}</strong>
          </p>
          <p class="card-text">
            نوع التاسك: <strong>{{ getTypeLabel(task.taskType) }}</strong>
          </p>
          <p class="card-text">العميل: {{ task.clientName }}</p>
          <p class="card-text">الخدمة: {{ task.serviceName }}</p>
          <p class="card-text">الموظف: {{ task.employeeName }}</p>
          <div>
            الحالة:
            <div
              class="status-badge me-3"
              [ngClass]="task.status | mapTaskStatusClass"
            >
              {{ task.status | mapTaskStatus }}
            </div>
          </div>
        </div>
        <div class="card-footer">
          <small>وقت التسليم: {{ task.deadline | date }}</small>
        </div>
      </div>
    </div>
    } } @else {
    <div class="text-center mt-4 h-50">
      <div class="empty-state">
        <h3>لا توجد مهام تطابق الفلاتر المحددة</h3>
        <p>جرب تغيير معايير البحث أو مسح الفلاتر</p>
      </div>
    </div>
    }
  </div>
</section>
