<div class="container-fluid py-4">
  <!-- Error Message -->
  @if (errorMessage) {
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ errorMessage }}
    <button
      type="button"
      class="btn-close"
      (click)="errorMessage = ''"
    ></button>
  </div>
  }

  <!-- Success Message -->
  @if (successMessage) {
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ successMessage }}
    <button
      type="button"
      class="btn-close"
      (click)="successMessage = ''"
    ></button>
  </div>
  }

  <!-- Client Information -->
  <app-client-info [client]="client"></app-client-info>

  @if (client != null) {
  <app-task-groups
    [clientServices]="client.clientServices"
    [clientId]="client.id"
    (taskDataChanged)="loadClient()"
  ></app-task-groups>
  }
</div>
